# Dependencies
node_modules
**/node_modules

# Build outputs
dist
build
.expo
.next

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug-lock.*

# Prisma
**/prisma/migrations

# Turbo
.turbo

# Temp
tmp
*.tmp
