@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
  html { font-size: 16px; -webkit-font-smoothing: antialiased; }
  body { font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif; color: #1a293b; line-height: 1.5; height: 100%; }
  #root { height: 100%; }
}
